APP_ENV=dev
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nvb_dashboard
DB_USER=nvb_user
DB_PASSWORD=change_me

BREVO_API_KEY=change_me
WEEZEVENT_API_KEY=change_me

BREVO_BASE_URL=https://api.brevo.com/v3
WEEZEVENT_BASE_URL=https://api.weezevent.com